@font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('font-woff2'),
        url('../fonts/Inter-Regular.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Inter-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff2') format('font-woff2'),
        url('../fonts/Inter-Medium.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Inter-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.woff2') format('font-woff2'),
        url('../fonts/Inter-SemiBold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff2') format('font-woff2'),
        url('../fonts/Inter-Bold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'SF-UI-Display-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('SF-UI-Display-Regular'),
        url('../fonts/SF-UI-Display-Regular.woff2') format('font-woff2'),
        url('../fonts/SF-UI-Display-Regular.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Lato-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Lato-Medium'),
        url('../fonts/Lato-Medium.woff2') format('font-woff2'),
        url('../fonts/Lato-Medium.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Lato-ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Lato-ExtraBold'),
        url('../fonts/Lato-ExtraBold.woff2') format('font-woff2'),
        url('../fonts/Lato-ExtraBold.woff') format('font-woff');
    font-display: swap;
} 
 
@font-face {
    font-family: 'Troubleside';
    font-weight: 700;
    font-style: normal;
    src: local('Troubleside'),
        url('../fonts/Troubleside.woff2') format('font-woff2'),
        url('../fonts/Troubleside.woff') format('font-woff');
    font-display: swap;
}
   
   

 
