@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    background: #000;
    background-image: url('../images/header/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 52px;
        height: 60px;
        background: rgba(17, 18, 23, 0.5);
    } 
      
    &__logo-text {
        width: 75px;
        height: 80px;
        text-align: center;
        color: #fff;
        border: 1px solid green;
        font-size: 13px;
        padding-top: 29px;
        background: #4744c9;
        padding: 30px 5px 0 5px;
        border-radius: 7px;
        line-height: 15px;
    }

    .menu {
        display: flex;
        align-items: center;

        &__list {
            display: flex;
            align-items: center;
        }


        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__item+.menu__item {
            margin-left: 32px;
        }

        &__link-arrow-wrapper {
            padding-right: 18px;
            position: relative;
            border: 1px solid transparent;
        }

        &__link-arrow {
            position: absolute;
            top: -1px;
            right: -3px;
        }

        &__item.menu__item-submenu {
            display: block;
            margin-bottom: 9px;
        }


        &__link {
            font-size: 16px;
            line-height: 25px;
            transition: all .3s linear;
        }


        &__link-title,
        &__link {
            font-size: 12px;
            line-height: 15px;
            @extend %inter-400;
            color: #FFF;
            transition: all .3s linear;
            cursor: pointer;

            &:hover {
                color: hsla(0, 0%, 100%, .5);
            }

        }

        &__item--education,
        &__item--projects-about-us {
            border: 1px solid transparent;
            position: relative;

            &:hover {
                .menu__submenu-box {
                    display: block;
                }
            }
        }

        &__submenu-box {
            border: 1px solid transparent;
            background: transparent;
            width: 315px;
            position: absolute;
            top: 9px;
            left: -10px;
            display: none;
            z-index: 9;
        }

        &__submenu-box.menu__submenu-box--projects,
        &__submenu-box.menu__submenu-box--about-us {
            width: 195px;
        }

        &__submenu-box-inner {
            border: 1px solid transparent;
            background: #808080;
            padding: 10px 0 0 10px;
            margin-top: 38px;
        }


        &__submenu {
            margin-bottom: 15px;
        }

        &__submenu-title {
            color: #4744C9;
            font-size: 17px;
        }

        &__item+.menu__item-submenu {
            margin-left: 0;
        }

        &__item--education {
            &:hover {
                .menu__submenu__box {
                    display: block;
                }
            }
        }

        &__link--submenu {
            display: block;
        }

        &__badge {
            margin-left: 32px;
            padding: 7px 9px 7px 8px;
            background: rgba(255, 153, 153, 0.2);
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__badge-img {
            margin-left: 9px;
        }

        &__badge-text {
            @extend %inter-700;
            font-size: 12px;
            line-height: 15px;
            color: #FF4444;
        }


        &__btn {
            position: relative;
            width: 50px;
            height: 40px;
            border: none;
            padding: 0;
            background-color: transparent;
            transition: all 0.25s;
            display: none;

            .row-top,
            .row-middle,
            .row-bottom {
                position: absolute;
                top: 0;
                left: 0;
                width: 45px;
                height: 3px;
                transform: rotate(0);
                transition: all 0.5s; 
                background: #FFF;
            }

            .row-middle {
                transform: translateY(16px);
            }

            .row-bottom {
                transform: translateY(33px);
            }

        }

        &__btn--open {

            .row-top {
                transform: rotate(45deg) translateY(10px) translateX(13px);
            }

            .row-middle {
                display: none;
            }

            .row-bottom {
                transform: rotate(-45deg) translateY(13px) translateX(-10px);
            }
        }

    }

    &__phone {
        position: relative;
        border: 1px solid transparent;

        &:hover {
            .header__phone-phones {
                display: block;
            }
        }
    }

    &__phone-title-wrapper {
        padding-right: 18px;
        position: relative;
    }

    &__phone-arrow {
        position: absolute;
        top: -2px;
        right: -3px;
    }

    &__phone-title,
    &__phone-number {
        @extend %inter-400;
        font-size: 12px;
        line-height: 15px;
        color: #FFF;
        transition: all .3s linear;
        cursor: pointer;

        &:hover {
            color: hsla(0, 0%, 100%, .5);
        }
    }

    &__phone-box {
        position: absolute;
        top: 10px;
        left: -10px;
        border: 1px solid transparent;
        width: 150px;
        z-index: 9;
    }

    &__phone-phones {
        margin-top: 38px;
        width: 139px;
        display: none;
        background: #808080;
    }

    &__phone-item {
        margin-left: 10px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        position: relative;
    }


    &__main-content {
        margin-top: 236px;
        border: 1px solid transparent;
    }

    &__img-wrapper {
        border: 1px solid transparent;

        max-height: 700px;
        width: 100%;
        max-width: 690px
    }

    &__img-inner {
        border: 1px solid transparent;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__title {
        @extend %inter-700;
        font-size: 64px;
        line-height: 77px;
        margin-bottom: 24px;
        color: #FFF;
        max-width: 571px;
        margin: 0 0 24px 80px;
    }

    &__subtitle {
        color: #A8B3C1;
        margin: 0 0 48px 80px;
        display: block;
    }

    &__btn {
        @extend %inter-500;
        font-size: 18px;
        line-height: 27px;
        color: #FFF;
        border-radius: 6px;
        background: #4744C9;
        padding: 14px 32px;
        margin: 0 0 295px 80px;
        display: block;
        max-width: 240px;
        transition: all .3s linear;

        &:hover {
            transform: scale(1.05);
        }

    }

    &__img-item {
        position: initial !important;
    }

    &__men-laptop {
        position: absolute;
        top: 173px;
        right: 53px;
        z-index: 3;
        border: 1px solid transparent;
    }

    &__figma {
        position: absolute;
        top: 96px;
        right: 140px;
        z-index: 1;
        border: 1px solid transparent;
    }

    &__pencil {
        position: absolute;
        top: 144px;
        right: 432px;
        border: 1px solid transparent;
    }

    &__color {
        position: absolute;
        right: 10px;
        top: 456px;
        border: 1px solid transparent;
    }

    &__photoshop {
        position: absolute;
        top: 485px;
        right: 252px;
        z-index: 5;
        border: 1px solid transparent;
    }

}

.about-us {
    border: 1px solid #000;
    background: #000;

    &__inner {
        padding-top: 120px;
        text-align: center;
    }

    &__title {
        @extend %inter-700;
        font-size: 48px;
        color: #FFF;
        margin-bottom: 24px;
    }

    &__subtitle {
        color: #A7A7AC;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 48px;
    }

    &__screen {
        width: 100%;
        max-width: 1060px;
        height: 600px;
        background: #DADDE3;
        border-radius: 16px;
        margin: 0 auto 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;  
        background-image: url('../images/header/about-screen-bg.jpg');  
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center;
        
    }

    &__paly {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background:#4744c9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__more-details {
        position: absolute;
        bottom: -53px;
        left: -54px;
    }

}

.stydy-details {
    background: linear-gradient(180deg, #F5F5F7 0%, rgba(245, 245, 247, 0) 100%), #FFFFFF;

    &__inner {
        padding-top: 120px;
    }

    &__title {
        text-align: center;
        color: #1D1D1F;
        @extend %inter-700;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 109px;
    }

    &__items {
        width: 100%;
        max-width: 1250px;
        border: 1px solid transparent;
        margin: 0 auto 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 96px;
        grid-column-gap: 24px;
    }

    &__item {
        border: 1px solid transparent;
        width: 100%;
        max-width: 417px;
    }

    &__item-img {
        margin-bottom: 24px;
    }

    &__item-title {
        @extend %inter-500;
        font-size: 24px;
        line-height: 34px;
        color: #1D1D1F;
        margin-bottom: 12px;
    }

    &__text {
        @extend %inter-400;
        font-size: 18px;
        line-height: 28px;
        color: #76767D;
    }

}

.program {

    &__bord {
        background: #000;
        border-radius: 16px;
        padding: 120px 54px 120px 48px;
        width: 100%;
        max-width: 1296px;
        margin: 0 auto;
    }

    &__title {
        @extend %inter-700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        color: #FFF;
        margin-bottom: 96px;
    }

    &__point {
        border: 1px solid transparent;
        margin-top: 48px;
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__item-title {
        @extend %inter-600;
        font-size: 24px;
        line-height: 34px;
        color: #FFF;
    }

    &__decor-arrow.program__decor-arrow--rotate {
        transform: rotate(180deg);
    }

    &__decor-content {
        padding-top: 17px;
    }

    &__link {
        @extend %lato-500;
        font-size: 18px;
        line-height: 27px;
        color: #FFF;
    }

    &__item {
        margin: 15px 0;
    }

    &__btn {
        margin: 96px auto 0;
        display: block;
        max-width: 331px;
        border-radius: 4px;
    }
}

.team {
    margin-bottom: 120px;

    &__inner {
        text-align: center;
        padding-top: 60px;
    }

    &__title {
        @extend %inter-700;
        font-size: 48px;
        line-height: 58px;
        color: #1D1D1F;
        margin-bottom: 24px;
    }

    &__text {
        color: #76767D;
        max-width: 1080px;
        margin: 0 auto 96px;
    }

    &__gallery {
        width: 100%;
        max-width: 1296px;
        border: 1px solid transparent;
        display: grid;
        grid-row-gap: 24px;
        grid-template-columns: 324px 324px 324px 324px;
        grid-template-rows: 201px 201px 201px;
        height: 605px;
        margin: 0 auto;
        overflow: hidden;
    }

    .team__photo--1 {
        grid-column: 1 / 3;
    }

    .team__photo--2 {
        grid-column: 1 / span 2;
        margin-top: 189px
    }

    .team__photo--3 {
        grid-column: 2/ 3;
        margin: -36px 0 0 5px;
    }

    .team__photo--4 {
        grid-column: 3/ 4;
        grid-row: 2 / 3;
        margin: -225px 0 0 9px;
    }

    .team__photo--5 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        margin-left: 15px;
    }

    .team__photo--6 {
        grid-column: 3 / 6;
        grid-row: 2 / 3;
        margin: -14px 0 0 9px;
    }

    .slick-arrow {
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #4744c9;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }

    .slick-next {
        right: -45px;
    }

    .slick-prev {
        left: -45px;
    }

}

.cost {
    background: #000;
    padding: 120px 0;

    &__title {
        @extend %inter-700;
        font-size: 48px;
        line-height: 58px;
        color: #FFF;
        margin-bottom: 96px;
    }

    &__details {
        width: 100%;
        max-width: 1296px;
        padding: 24px;
        border: 1px solid transparent;
        margin: 0 auto 48px;
    }

    &__details--dmb {
        margin-bottom: 84px;
    }

    &__details-title {
        @extend %inter-600;
        font-size: 30px;
        line-height: 36px;
        color: #FFF;
        margin-bottom: 24px;
    }

    &__details-table {
        border: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__details-item-title {
        @extend %inter-400;
        font-size: 18px;
        line-height: 28px;
        color: #A7A7AC;
    }

    &__details-info {
        @extend %inter-500;
        font-size: 18px;
        line-height: 27px;
        color: #FFF;
    }

    &__options {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__option-wrapper {
        display: flex;
    }

    &__option {
        padding: 24px;
        background: #3E3F44;
        border-radius: 8px;
        // width: 100%;
        width: 300px;
    }

    &__option.cost__option--dwidth {
        // width: 100%;
        width: 394px;
        margin-left: 24px;
    }

    &__option-title {
        color: #FFF;
        margin-bottom: 16px;
    }

    &__option-price {
        @extend %inter-700;
        font-size: 48px;
        line-height: 58px;
        color: #FFF;
        margin-bottom: 43px;
    }

    &__option-price--dm {
        margin-bottom: 16px;
    }

    &__option-span {
        @extend %inter-400;
        font-size: 18px;
        line-height: 28px;
        color: #FFF;
    }

    &__option-full-cost {
        font-size: 18px;
        line-height: 27px;
        color: #FFF;
    }

    &__option-application {
        padding: 14px 45px;
        background: #3E3F44;
        display: block;
        width: 100%;
        max-width: 232px;
        margin-bottom: 24px;
    }

    &__option-contract {
        display: block;
        max-width: 232px;
        width: 100%;
    }

}





@import 'media';